//
//  Config.xcconfig
//  instaScroller
//
//  Created by Rowby Villanueva on 7/15/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
API_KEY = IGAAPkQpJuxOhBZAE9kSGxEUmM1ejZAfOU45SUdvWGt5OXFiSHZASX25KZAnA2RUc3aFo5NjctQVdZAYll2aUNNazZAXWmlXQUhsR2NkTEEwS2xTU3NIRVFSYlhEZAHZAjRl8zNHkwNmNscTNlS3JjZAFVTWGRialZATemJlTjhwcG51dGFEZAwZDZD

